<tr>
	<td class="tableCell">
		<a href="#%%filepath%%" align="center">%%filepath%%</a>
	</td>
	<td class="tableCell" align="center">%%file_errors%%</td>
	<td class="tableCell" align="center">%%file_level_errors%%</td>
</tr>